@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-fuchsia-900 bg-fuchsia-50;
    font-family: Quicksand, sans-serif;
  }

  h1 {
    @apply text-m-4xl font-bold;
  }
  h2 {
    @apply text-m-3xl font-bold;
  }
  h3 {
    @apply text-m-2xl font-bold;
  }
  h4 {
    @apply text-m-xl font-bold;
  }
  h5 {
    @apply text-m-l font-bold;
  }

  @media screen(md) {
    h1 {
      @apply text-t-4xl font-bold;
    }
    h2 {
      @apply text-t-3xl font-bold;
    }
    h3 {
      @apply text-t-2xl font-bold;
    }
    h4 {
      @apply text-t-xl font-bold;
    }
    h5 {
      @apply text-t-l font-bold;
    }
  }
}

@layer components {
  .btn {
    @apply rounded px-16 py-8 font-bold transition-colors duration-200;
  }

  .primary-btn {
    @apply btn bg-fuchsia-600 text-fuchsia-50 hover:bg-fuchsia-300 focus:bg-fuchsia-300 hover:text-fuchsia-900 focus:text-fuchsia-900 disabled:bg-fuchsia-800/70 disabled:text-fuchsia-50/80;
  }

  .secondary-btn {
    @apply btn bg-fuchsia-300 text-fuchsia-900 hover:bg-fuchsia-400 focus:bg-fuchsia-400;
  }

  .danger-btn {
    @apply btn bg-rose-600 text-rose-50 hover:bg-rose-700 focus:bg-rose-700;
  }

  .round-btn {
    box-shadow: 0 2px 8px rgba(112, 26, 117, 0.25);
    @apply bg-fuchsia-50 text-fuchsia-600 rounded-full transition-colors duration-200 hover:bg-fuchsia-900 hover:text-fuchsia-50 p-8 w-48 h-48;
  }

  .sm-round-btn {
    @apply round-btn p-4 w-32 h-32;
  }

  .chatScrollbar {
    scrollbar-color: #f5d0fe transparent;
    scrollbar-width: thin;
  }

  .chatScrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  .chatScrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #f0abfc;
  }

  .chatScrollbar::-webkit-scrollbar-thumb {
    background-color: #f5d0fe;
    border-radius: 50px;
    padding: 8px;
  }

  .invisibleScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .invisibleScrollbar::-webkit-scrollbar {
    display: none;
  }
}
