.container {
  scrollbar-color: #f5d0fe transparent;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.container:hover::-webkit-scrollbar-thumb {
  background-color: #f0abfc;
}

.container::-webkit-scrollbar-thumb {
  background-color: #f5d0fe;
  border-radius: 50px;
  padding: 8px;
}
