#popup[data-popper-placement^='top'] {
  padding-bottom: 8px;
}
#popup[data-popper-placement^='bottom'] {
  padding-top: 8px;
}

#popup[data-popper-placement^='top'] > #popup-arrow {
  bottom: 12px;
}
#popup[data-popper-placement^='bottom'] > #popup-arrow {
  top: 4px;
}
